<div id="navbar" class="flex-col">
  <div id="navbar-top" class="content flex-row flex-row-center-child">
    <h2>Outcome</h2>
    <div></div>
  </div>
  <div id="navbar-bottom" class="content flex-row">
    <div class="flex-row flex-center-child font-upper font-14 btn-action">dashboard</div>
    <div class="flex-row flex-center-child font-upper font-14 btn-action">plan</div>
    <div class="flex-row flex-center-child font-upper font-14 btn-action">work</div>
    <div class="flex-row flex-center-child font-upper font-14 btn-action">team</div>
    <div class="flex-row flex-center-child font-upper font-14 btn-action">project</div>
    <div class="flex-row flex-center-child font-upper font-14 btn-action">product</div>
  </div>
</div>
