<div id="navbar" class="flex-col">
  <div id="navbar-top" class="content flex-row flex-row-center-child">
    <h2>Outcome</h2>
    <div></div>
  </div>
  <div id="navbar-bottom" class="content flex-row">

    <div class="flex-row flex-center-child font-upper font-14 btn-action"
         [routerLinkActive]="'active-link'"
         [routerLinkActiveOptions]="{exact:true}"
         routerLink="/">dashboard
    </div>

    <div class="flex-row flex-center-child font-upper font-14 btn-action"
         [routerLinkActive]="'active-link'"
         routerLink="/plan">plan
    </div>

    <div class="flex-row flex-center-child font-upper font-14 btn-action"
         [routerLinkActive]="'active-link'"
         routerLink="/work">work
    </div>

    <div class="flex-row flex-center-child font-upper font-14 btn-action"
         [routerLinkActive]="'active-link'"
         routerLink="/team">team
    </div>

    <div class="flex-row flex-center-child font-upper font-14 btn-action"
         [routerLinkActive]="'active-link'"
         routerLink="/project">project
    </div>

    <div class="flex-row flex-center-child font-upper font-14 btn-action"
         [routerLinkActive]="'active-link'"
         routerLink="/product">product
    </div>

  </div>
</div>
